.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-top: 0;
  margin-bottom: 0;
}



.title > h1 {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
  color: rgb(36, 35, 35);
}

.title img {
  height: 30px;
  position: relative;
  top: 2px;
}


/* Media queries */
@media screen and (max-width: 768px) {
  .title {
    margin-bottom: 10px; /* Reduz o espaçamento na parte inferior */
  }

  .section_container{
    width: auto;
    height: auto;
  }
}
